<form [formGroup]="employeeDetailsForm" (ngSubmit)='submitData()' >
    <div class="header"> <h3><b>Employee Details Form </b></h3>
    </div>

  <div class="container">
    <!-- <h4>Employee Personal Details :</h4> -->
    <label for="ename"><b>Employee Fullname</b></label>
    <input type="text" placeholder="Enter Full Name" formControlName="ename" required>

    <div class="row">
        <div class="col-md-6">
            <label for="empUsername"><b>Username</b></label>
            <input type="text" placeholder="Enter Username"  formControlName="empUsername" required>        
        </div>
        <div class="col-md-6"> 
            <label for="empPassword"><b> Password</b></label>
    <input type="password" placeholder="Enter User Password" formControlName="empPassword" required>
        </div>
</div>

<label for="role"><b>Role </b></label>
<input type="text" placeholder="Enter Role" formControlName="role" required>

<div class="row">
    <div class="col-md-6">
        <label for="mobNo"><b>Mobile Number</b></label>
    <input type="text" placeholder="Enter Mobile number" formControlName="mobNo" required>
    </div>
    <div class="col-md-6"> 
        <label for="emailid"><b>Email Id</b></label>
    <input type="text" placeholder="Enter Email id" formControlName="emailid" required>
    </div>
</div>
<div formGroupName="localaddress">
    <!-- <h4>Address Details :</h4> -->
    <h6 ><b>Local Address :</b></h6>
    <div class="row">
        <div class="col-md-6">
            <label for="areaname"><b>Areaname </b></label>
    <input type="text" placeholder="Enter area name" formControlName="areaname" required>

        </div>
        <div class="col-md-6"> 
            <label for="cityname"><b>City Name</b></label>
    <input type="text" placeholder="Enter cityname" formControlName="cityname" required>
        </div></div>
        <label for="pincode"><b>Pincode</b></label>
        <input type="text" placeholder="Enter pincode" formControlName="pincode" required>
        
<div formGroupName="district">
<label for="district"><b>District</b></label>
<div class="col-md-12 selectContainer">
    <select  class="form-control selectpicker"  formControlName="districtname" >
      <option value="">Select District</option>
      <option >Amravati</option>
      <option >Ahemdabad</option>
      <option>Hyderabad</option>
      <option >Nagpur</option>
      <option >Pune</option>
      <option >Mumbai</option>
      <option >Chennai</option>
      <option >Hyderabad</option>  
    </select>
  </div>

  <div formGroupName="state">
    <label for="state"><b>State</b></label>
      <div class="col-md-12 selectContainer">
      <select  class="form-control selectpicker"  formControlName="statename" >
        <option value="">Select State</option>
        <option>Arunachal Pradesh</option>
        <option >Andhra Pradesh</option>
        <option >Delhi</option>
        <option >Maharashtra</option>
        <option >Gujrat</option>
        <option >Goa</option>
      </select>
    </div>
  </div>
  </div>
  </div>
  <br>
  <input type="checkbox" (click)='sameData($event)'><b>Local Address Same as Permanent Address </b>
  <br><br>
  <div formGroupName="permanentaddress">
    <h6 ><b>Permanent Address :</b></h6>
    <div class="row">
        <div class="col-md-6">
            <label for="areaname"><b>Areaname </b></label>
    <input type="text" placeholder="Enter area name" formControlName="areaname" required>

        </div>
        <div class="col-md-6"> 
            <label for="cityname"><b>City Name</b></label>
    <input type="text" placeholder="Enter cityname" formControlName="cityname" required>
        </div></div>
        <label for="pincode"><b>Pincode</b></label>
        <input type="text" placeholder="Enter pincode" formControlName="pincode" required>
        
<div formGroupName="district">
<label for="district"><b>District</b></label>
<div class="col-md-12 selectContainer">
    <select  class="form-control selectpicker"  formControlName="districtname" >
      <option value="">Select District</option>
      <option >Ahemdabad</option>
      <option >Amravati</option>
      <option>Hyderabad</option>
      <option >Nagpur</option>
      <option >Pune</option>
      <option >Mumbai</option>
      <option >Chennai</option>
      <option >Hyderabad</option>  
    </select>
  </div>

  <div formGroupName="state">
    <label for="state"><b>State</b></label>
      <div class="col-md-12 selectContainer">
      <select  class="form-control selectpicker"  formControlName="statename" >
        <option value="">Select State</option>
        <option>Arunachal Pradesh</option>
        <option >Andhra Pradesh</option>
        <option >Delhi</option>
        <option >Maharashtra</option>
        <option >Gujrat</option>
        <option >Goa</option>
      </select>
    </div>
  </div>
  </div>
  </div>
<br>
  <!-- <h4 ><b>Bank Details :</b></h4> -->

    
    <div formGroupName="bankDetails">
    <label for="bankName"><b>User BankName</b></label>
    <input type="text" placeholder="Enter BankName" formControlName="bankName" required>

    <label for="accountno"><b>Account Number</b></label>
    <input type="text" placeholder="Enter Account Number" formControlName="accountno" required>

    <label for="accounttype"><b>Account Type</b></label>
    <input type="text" placeholder="Enter Account Type" formControlName="accounttype" required>

<div class="row">
                <div class="col-md-6">
                     <label for="ifscCode"><b>IFSC Code</b></label>
    <input type="text" placeholder="Enter ifscCode" formControlName="ifscCode" required>
                </div>

                <div class="col-md-6"> 
                      <label for="micrNo"><b>MICR Code</b></label>
    <input type="text" placeholder="Enter micr Code" formControlName="micrCode" required>
                </div>
        </div>
        
        <h6><b>Branch Details:-</b></h6><br>
    
<div formArrayName="branchId">
  <div *ngFor="let group of employeeDetailsForm.controls.bankDetails.controls.branchId.controls; let i=index;" [formGroupName]="i" >
    <label for="branchName"><b>Branch Name</b></label>
    <input type="text" placeholder="Enter branchName" formControlName="branchName" required>

    <label for="branchCode"><b>Branch Code</b></label>
    <input type="text" placeholder="Enter branchCode" formControlName="branchCode" required>

    <label for="branchAddr"><b>Branch Address</b></label>
    <input type="text" placeholder="Enter branchCode" formControlName="branchAddr" required>
    </div> 
  </div>

</div>

     <button type="submit" class="btn btn-success">Submit</button> 
   <span class="re"> <button type="reset" class="btn btn-warning">Reset</button></span>
  </div> 
  
</form>

<br><br> 

