p{
    text-align: center;
    color: blueviolet;
}
button{
    background-color:lightcoral;
    width:30%;
}
h3{
    text-decoration: underline;    
  }
  .header{
    text-align: center;
    
}
th {
    background-color:darksalmon;
    color:black;
  }
  #edetails tr:nth-child(odd){background-color:navajowhite;}
  #edetails  tr:nth-child(even){background-color:lightcyan;}
