p{
    text-align: center;
    color: blueviolet;
}
button{
    background-color:lightcoral;
    width:50%;
}
th {
    background-color:darksalmon;
    color:black;
  }
  
#enquiry tr:nth-child(odd){background-color:navajowhite;}
#enquiry tr:nth-child(even){background-color:lightcyan;}
 



h3{
    text-decoration: underline;    
  }
  .header{
    text-align: center;
    
}
